.container {
	position: relative;
}
.logout-button {
	position: absolute;
	right: 0;
	margin-top: 2rem;
}

.user {
	position: absolute;
	margin-top: 2rem;
	right: 5rem;
	margin-right: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 500;
	color: steelblue;
}

