.register-card {
	height: 35rem;
}

.form {
	position: relative;
}

.error-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	bottom: -6rem;
	color: #d8000c;
	font-size: 18px;
	background-color: #ffbaba;
	border-radius: 3px;
	border: 1px solid rgba(216, 0, 12, 0.7);
}

.error {
	margin: 0.1rem;
	text-align: center;
	margin-right: 2.25rem;
}

.input-groups {
	margin-top: 1.5rem;
	position: relative;
}

.title {
	margin-top: 2.25rem;
}

.close-icon {
	position: absolute;
	right: 0.2rem;
	cursor: pointer;
	border-radius: 3px;
}

.close-icon:hover {
	background-color: rgba(255, 255, 255, 0.4);
}

.already-registered {
	margin-top: 2rem;
	position: absolute;
	float: right;
}
